body {
	padding-top: 50px;
}
@media (min-width: 1024px) {
	.container{
		width: 800px
	}
}
h5 {
	font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  background-color: #353535;
  color: #f5f5f5;
  text-align: center;
}

